# Старое представление токена
token

# Любая текстовая информация
txt

# Раньше перенаправлял туда вывод ошибок
error

# Ещë одно представление токена
yozhick_token

# Всякий кэш
__pycache__

# Это наверное какой-то скриптик обновления данных бота
chat_update.example

# Файл вроде не нужен, но лучше не удалять
*.bak

# Что-то старое
auth.py
request.py
Line.py

# Старый файл доступа к базе
db_conn

# Тоже какой-то пример кода
group_chat_update.example

# Супер полезная утилита представления json-формата с отступами
json_to_beauty.py

# Ещë один файл доступа к БД
db_root

# Все конфигурационные файлы не показываем
*.json

# Кэш модуля pytest
.pytest_cache

# Логи оставляем при себе
*.log*

# Здесь старый код
prototypes

# Какая-то информация для ide
.idea

# Вывод nohup оставляем себе
nohup.out
